.container-btn-index {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 70vh;
}

.btn {
	box-shadow: 0px 10px 14px -7px #3e7327;
	background-color: #77b55a;
	border: 1px solid #4b8f29;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: Arial;
	text-decoration: none;
	text-shadow: 0px 1px 0px #5b8a3c;
	border-radius: 15px;
	text-align: center;
}

.btn:hover {
    background-color: rgba(80,150,100);
}

.btn-big {
	font-size: 20px;
	font-weight: bold;
	padding: 25px;
	height: 100px;
	line-height: 50px;
	margin: 0 25px;
	margin-bottom: 25px;
}

.btn-medium {
	font-size: 15px;
	font-weight: bold;
	padding: 15px;
	height: 75px;
	line-height: 45px;
	margin: 0 15px;
	margin-bottom: 15px;
}
