.container-fields {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* justify-content: space-around; */
    margin-top: 25px;
    padding: 5px;
    align-items: center;
}

.container-field {
    /* width: 200px; */
    margin-top: 18px;
    margin-right: 10px;
    padding: 20px;
    border: 1px solid rgba(200,200,200);
    border-radius: 5px;
    box-shadow: 0px 10px 14px -7px grey;
    min-height: 150px;
    text-align: center;
}

#successMessage {
    display: none;
    padding: 50px;
    border-radius: 10px;
}

#successMessage.successMessage {
    display: block;
    animation-name: display;
    animation-duration: 1s;
    background-color: yellow;
    position: absolute;
}

@keyframes display {
    from {opacity: 0;}
    to {opacity: 1;}
}
