* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

header {
    height: 20vh;
    min-height: 200px;
    width: 100vw;
    background-color: grey;
    display: flex;
    align-items: center;
    padding: 25px;
    justify-content: space-around;
}


input {
    border: 1px solid #4b8f29;
    margin: 15px;
}

form {
    margin: 0;
}

.vertical-form {
    display: flex;
    flex-direction: column;
    text-align: center;
}

h3 {
    font-size: 15px;
    	/* font-weight: normal; */
}

#bonus-fields-separation {
    width: 100vw;
    padding: 2vw;
}

hr {
   border: 1px solid black;
}

.standalone-container {
    display: block;
    width: 100vw;
    text-align : center;
    margin-top: 25px;
}

@media screen and (max-width: 1100px) {
  header {
      flex-direction: column;
      min-height: 350px;
  }
}
